:root {
  --color-gradient-1: hsl(6, 100%, 80%) ;
  --color-gradient-2: hsl(335, 100%, 65%);
  --color-icons: hsl(243, 100%, 93%);
  --color-background-icons:hsl(229, 57%, 11%);
  --color-background-app:hsl(229, 7%, 55%);
  --color-background: hsl(228, 56%, 26%);
  --color-heading:hsl(271, 36%, 24%);
  --color-heading-sub:hsl(276, 100%, 81%);
  --color-placeholder-text:hsl(206, 6%, 79%);
  --color-paragraph:hsl(270, 7%, 64%);
  --color-chat-left:hsl(276, 55%, 52%);
  --color-chat-right:hsl(271, 15%, 43%);
  --color-white:hsl(0, 0%, 100%); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.4rem;
  background-color: var(--color-white);
  min-height: 100vh;
  color: var(--color-icons); }

.container {
  height: 100vh;
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media only screen and (min-width: 56.25em) {
    .container {
      background-image: url("../images/bg-desktop.png"); } }

.content {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 56.25em) {
    .content {
      flex-direction: row;
      align-items: flex-end; } }

.app {
  background-color: var(--color-background);
  padding: 4rem 8rem 4rem 4rem;
  flex-direction: column;
  border-radius: 2rem;
  border-top-right-radius: 10rem; }
  @media only screen and (min-width: 56.25em) {
    .app {
      margin-right: 2rem; } }
  .app__title {
    color: white;
    font-weight: 700;
    font-size: 4.5rem;
    margin-right: 0;
    display: flex;
    align-items: center; }
  .app__logo {
    background-image: url(../images/logo.svg);
    margin-top: 1rem;
    height: 5rem;
    width: 5rem;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: .8rem; }
  .app__options {
    margin-top: 2.5rem;
    display: flex;
    width: 21rem;
    justify-content: space-between; }
  .app__option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    flex: 0 0 6rem;
    border-radius: .8rem;
    background-color: var(--color-background-icons); }
    .app__option--1, .app__option--2, .app__option--3 {
      height: 5rem;
      width: 5rem;
      background-repeat: no-repeat;
      background-position: center; }
    .app__option--1 {
      background-image: url(../images/icon-document.svg); }
    .app__option--2 {
      background-image: url(../images/icon-folder.svg); }
    .app__option--3 {
      background-image: url(../images/icon-upload.svg); }

.data {
  background-color: var(--color-background);
  border-radius: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  padding: 3rem 3rem 5rem 3rem;
  flex-direction: column;
  align-items: center;
  position: relative; }
  @media only screen and (min-width: 56.25em) {
    .data {
      width: 55rem;
      height: 17rem;
      padding: 0rem 3rem 0rem 3rem;
      align-items: flex-start; } }
  .data__top {
    font-size: 1.5rem; }
    .data__top--bold {
      font-weight: 700; }
  .data__bar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 110%;
    height: 2rem;
    background-color: var(--color-background-icons);
    border-radius: 10px;
    display: flex;
    align-items: center; }
    @media only screen and (min-width: 56.25em) {
      .data__bar {
        width: 100%; } }
    .data__bar--inner {
      display: inline-block;
      height: 1.6rem;
      flex: 0 0 0%;
      background-image: linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2));
      border-radius: 1rem;
      margin-left: .25rem;
      display: flex;
      align-items: center;
      position: relative;
      animation: increase 1.5s forwards; }
      .data__bar--inner-circle {
        height: 1rem;
        width: 1rem;
        background-color: var(--color-white);
        border-radius: 50%;
        position: absolute;
        right: .2rem; }

@keyframes increase {
  0% {
    flex: 0 0 0%; }
  100% {
    flex: 0 0 80%; } }
  .data__bottom {
    width: 110%;
    display: flex;
    justify-content: space-between;
    font-weight: 700; }
    @media only screen and (min-width: 56.25em) {
      .data__bottom {
        width: 100%; } }
  .data__meta {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-background-app); }

.data__left {
  position: absolute;
  top: 80%;
  background-color: var(--color-white);
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  line-height: 1;
  border-radius: 1rem; }
  @media only screen and (min-width: 56.25em) {
    .data__left {
      top: -35%;
      right: 6%; } }
  @media only screen and (min-width: 56.25em) {
    .data__left::after {
      content: "";
      display: inline-block;
      position: absolute;
      height: 3rem;
      width: 4rem;
      clip-path: polygon(100% 0, 0 0, 100% 100%);
      bottom: -25%;
      right: 0;
      background-color: var(--color-white); } }
  .data__left--bold {
    font-size: 4rem;
    font-weight: 700;
    margin-right: 1.2rem;
    color: var(--color-background-icons); }
